<div class="container">
  <h1>Signals!!</h1>

  <p>Mi nombre es: {{ name() }}</p>
  <button class="btn btn-primary" (click)="togleName()">Cambiar nombre</button>


  <ul>
    @for (task of tasks(); track $index) {
      <li>
       {{$index + 1}} - {{ task.name }}
      </li>
    }
  </ul>

  <button class="btn btn-info me-2" (click)="addTask()">Agregar Tarea</button>
  <button class="btn btn-success" (click)="markTask()">Marcar Tarea</button>

  <p>Tareas Pendientes: {{taskLength()}}</p>
</div>



